@font-face {
    font-family: 'SUSE';
    src: url('./assets/fonts/SUSE/SUSE-VariableFont_wght.ttf');
}

* {
    font-family: 'SUSE';
    color: white;
}

.page-title {
    color: white;
    text-align: center;
    font-size: 2rem;
}

html {
    background-color: #1c1c1c;
}

a {
    text-decoration: none;
}

a:hover {

    color: green;
}

#page {

    margin-top: 6rem;
}

.center {
    text-align: center;
}

.spacer {
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 65%;
    background-color: rgb(134, 134, 134);
}

.BLUUUUUU {
    color: rgb(38, 137, 218);
}

#kekw {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}