@font-face {
    font-family: 'SUSE';
    src: url('./assets/fonts/SUSE/SUSE-VariableFont_wght.ttf');
}

* {
    font-family: 'SUSE';
    color: white;
}

.page-title {
    color: white;
    text-align: center;
    font-size: 2rem;
}

html {
    background-color: #1c1c1c;
}

a {
    text-decoration: none;
    transition: 150ms;
}

a:hover {
    transition: 150ms;
    color: rgb(64, 179, 64);
}

#page {

    margin-top: 6rem;
}

.center {
    text-align: center;
}

.spacer {
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 65%;
    background-color: rgb(134, 134, 134);
}

.BLUUUUUU {
    color: rgb(38, 137, 218);
    transition: 120ms;
}

.BLUUUUUU:hover {
    color: rgb(113, 156, 190);
    transition: 120ms;
}

#kekw {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 1.6rem;
}

.footer-react-icon {

    height: 1.4rem;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}