@font-face {
    font-family: 'SUSE';
    src: url('./assets/fonts/SUSE/SUSE-VariableFont_wght.ttf');
}

* {
    font-family: 'SUSE';
    color: white;
}

.page-title {
    color: white;
    text-align: center;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

a:hover {

    color: green;
}

#page {

    margin-top: 6rem;
}